<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
	<p><a href="{% url 'logout' %}">Logout</a> |
    <a href="{% url 'profile' user.username %}">{{ user.username }} <i class="fas fa user"></i></a></p>
    {% else %}
    <p><a href="{% url 'login' %}">Login</a> |
    <a href="{% url 'register' %}">Register</a></p>
{% endif %} 
{% for message in messages %}
	<p style="color: red">{{ message }}</p>
{% endfor %}

</body>
</html>